<!DOCTYPE html>

<title>New Materiel</title>

{% block body %}
    <h1>Create new Materiel</h1>

    {{ include('Back-Office/materiel/_form.html.twig') }}

    <a href="{{ path('list_materiels') }}">back to list</a>
{% endblock %}
